@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

$linksUnderscoreRed: hsl(7, 99%, 70%);
$linksUnderscoreYellow: hsla(51, 100%, 49%, 0.7);
$textGraphicDesign: hsl(167, 40%, 24%);
$textPhotography: hsl(198, 62%, 26%);
$footer: hsl(168, 34%, 41%);
$h2Color: hsl(212, 27%, 19%);
$text:  hsl(213, 9%, 39%);
$testimonials: hsl(232, 10%, 55%);
$testimonialJob: hsl(210, 4%, 67%);
$mainBG: hsl(0, 0%, 100%);
$fontSize: 18px;
$fontBarlow: 'Barlow', sans-serif;
$fontFraunces: 'Fraunces', serif;